@model Acheve.UI.ViewModels.InformeResumenEntreFechasViewModel

@{
    ViewBag.Title = "Resumen desde el " + Model.Inicio.ToShortDateString() + " al " + Model.Fin.ToShortDateString();
}

<ul class="breadcrumb">
    <li class="active">Resúmenes <span class="divider">/</span></li>
    <li class="active">Resumen desde el @Model.Inicio.ToShortDateString() al @Model.Fin.ToShortDateString()</li>
</ul>

@using (Html.BeginForm("EntreFechas", "Informe", new { area = string.Empty }, FormMethod.Post, new { @class = "form-inline" }))
{
    <fieldset>
        <legend>Seleccione el intervalo de fechas</legend>
        @Html.LabelFor(m => m.Inicio)
        @Html.EditorFor(m => m.Inicio, "DateFrom")
        @Html.LabelFor(m => m.Fin)
        @Html.EditorFor(m => m.Fin, "DateTo")
        <input class="btn btn-primary" type="submit" value="Ver" />
    </fieldset>
}
@if (Model.IsPost)
{

    <div class="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        Sólo se incluyen las jornadas terminadas.
    </div>

    if (Model.ResumenJornadas.Any())
    {
    <table class="table table-striped table-hover">
        <caption>Resumen de jornadas entre el @Model.Inicio.ToShortDateString() y el @Model.Fin.ToShortDateString()</caption>
        <thead>
            <tr>
                <th>Jornada</th>
                <th>Trabajo</th>
                <th>Pausa</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var resumen in Model.ResumenJornadas)
            {
                <tr>
                    <td>@resumen.Dia.ToShortDateString()</td>
                    <td>@resumen.Trabajo.ToString(@"hh\:mm")</td>
                    <td>@resumen.Pausa.ToString(@"hh\:mm")</td>
                    <td>@resumen.Total.ToString(@"hh\:mm")</td>
                </tr>
            }
        </tbody>
    </table>
    }
    else
    {
    <p>No se han encontrado ninguna información para el periodo comprendido entre los días <strong>@Model.Inicio.ToShortDateString()</strong> y <strong>@Model.Fin.ToShortDateString()</strong>.</p>
    }
}
@section scripts
{
    <script type="text/javascript">
        var my = my || {};

        my.marcarMenu('#menFechas');
    </script>
}